@media only screen and (max-width: 1024px) {
  .box.active .header {
    height: auto;
    width: 100%;
    min-height: auto; }
    .box.active .header .special-title {
      width: 100%;
      float: none;
      min-height: 400px;
      position: relative; }
    .box.active .header .desc {
      float: none;
      width: 100%;
      padding: 10%;
     }

     #about-menu #theName .align-ask{
      top: 185px;
    }
    
    #about-menu #theName .align-imagine{
      top: 241px;
    }

  .masonry-gallery ul.gallery {
    margin: 0; }
    .masonry-gallery ul.gallery li {
      width: 46%;
      margin: 2%; }

  .post {
    background: #f9f9f9;
    overflow: hidden;
    margin-bottom: 30px; }
    .post .image {
      float: none;
      width: 100%;
      height: auto; }
      .post .image img {
        width: 100%; }
    .post .content {
      padding: 40px;
      margin-left: 0; }

  .testimonials {
    height: auto; }
    .testimonials .quote, .testimonials .author {
      padding: 80px 80px 60px; }
    .testimonials .quote {
      height: auto;
      min-height: 400px; } 
    }

    @media only screen and (max-width: 690px){

      #about-menu #theName .align-ask{
        top: 215px;
      }
      
      #about-menu #theName .align-imagine{
        top: 273px;
      }
    }

    @media only screen and (max-width: 673px){

      #about-menu #theName .align-ask{
        top: 237px;
      }
      
      #about-menu #theName .align-imagine{
        top: 301px;
      }
    }
@media only screen and (max-width: 640px) {
  .box.active .header .special-title {
    min-height: 260px; }

  .masonry-gallery ul.gallery {
    margin: 0; }
    .masonry-gallery ul.gallery li {
      width: 96%;
      margin: 2%; }

  .testimonials .quote {
    font-size: 20px; } 

    #about-menu #theName .align-imagine {
      top: 295px;
      right: 173px;
    }

    #about-menu #theName .data-center{
      justify-content: center;
    }
  }

  @media only screen and (max-width: 571px){

    #about-menu #theName .align-ask{
      top: 268px;
    }
    
    #about-menu #theName .align-imagine{
      top: 324px;
    }
  }

