/*-----------------------------------
[Table of Contents]
1. Base
2. Button
3. Animation
4. Logo and menu
5. Home and header
6. Section title
7. Member
8. Testimonials
9. Contact
10. Icon-text and service
11. Gallery
12. Post
13. Post comments
14. Slide
15. Form
16. Studio images

--------------*/
/* base */
.spacing {
  height: 20px; }

.two.spacing {
  height: 40px; }

.three.spacing {
  height: 60px; }

.four.spacing {
  height: 80px; }

.full {
  padding: 40px 0;
  background-size: cover;
  background-position: 50% 50%; }

.full.grey {
  background: #eee; }

.single {
  overflow: auto;
  width: 100%;
  height: 100%; }

.no-padding {
  padding: 0; }

.no-overflow {
  overflow: hidden; }

.centered-text {
  text-align: center; }

.hide {
  display: none; }

a {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

body {
  border: 10px solid #333;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  margin-bottom: 20px; }

h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
  color: #fff; }

/* button */
.button {
  letter-spacing: 1px; }

.button.boxed.white {
  border: 1px solid #fff;
  background: none;
  color: #fff; }

.button.boxed.white:hover {
  background: #fff;
  color: #333; }

.button.boxed.black {
  border: 1px solid #333;
  background: none;
  color: #333; }

.button.boxed.black:hover {
  background: #333;
  color: #fff; }

/* appear animation */
.moveup {
  opacity: 0;
  -webkit-transform: translate(0, 200px);
  -moz-transform: translate(0, 200px);
  -ms-transform: translate(0, 200px);
  -o-transform: translate(0, 200px);
  transform: translate(0, 200px);
  -webkit-transition-property: opacity transform;
  -moz-transition-property: opacity transform;
  transition-property: opacity transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.appear.moveup {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

/* logo and menu */
.logo {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -130px; }

.box.active ~ .logo {
  z-index: 100; }

.logo h1 {
  text-indent: -9999px;
  height: 60px;
  margin: 0; }

/* .logo .logo-image {
  background: white;
  width: 140px;
  height: 140px;
  display: block;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: url(../paths.svg#logo); } */

#back {
  position: fixed;
  color: #fff;
  z-index: 100;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #333;
  font-size: 36px;
  text-align: center; }

#back:hover {
  color: #00e1b6; }

/* home and header */
.box {
  width: 50%;
  height: 50%;
  display: block;
  position: absolute;
  overflow: hidden; }

.desc {
  width: 50%;
  height: 100%;
  display: block;
  float: right;
  background: #f0ae3f;
  padding: 119px 10% 40px 80px; }

.box.active {
  overflow: auto;
  overflow-x: hidden; }
  .box.active .content, .box.active .desc {
    visibility: visible; }
  .box.active .header {
    height: 50%;
    width: 100%;
    min-height: 500px;
    background: #f9f9f9 !important; }
    .box.active .header a {
      cursor: default; }
    .box.active .header .special-title {
      width: 50%;
      height: auto;
      float: left; }
  .box.active .header:hover {
    backgorund: none; }

.box.inactive {
  display: none !important; }

#about {
  left: 0;
  top: 0; }

#service {
  right: 0;
  top: 0; }

#work {
  left: 0;
  bottom: 0; }

#blog {
  right: 0;
  bottom: 0; }

#about .header {
  background: #f9f9f9; }

#service .header {
  background: #ebebeb; }

#work .header {
  background: #ebebeb; }

#blog .header {
  background: #ddd; }

.header {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  position: relative; }
  .header h2 {
    color: #fff; }

.special-title {
  width: 100%;
  height: 100%; }

.header:hover {
  background: #f0ae3f !important;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.special-title h2 {
  margin: 0; }

h2.bottom img {
  position: absolute;
  bottom: 0; }

h2.top img {
  position: absolute;
  top: 0; }

  

  #about-menu button{
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 19px;
    margin-top: 10px;
    position: relative;
    font-family: nevis;
    font-style: normal;
    font-weight: bold;
  
  }

  #about-menu #navbar .active{
    color: #f0ae3f;
    border-bottom: 3px solid #f0ae3f;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
    
  }

  /* #about-menu section {
   
    height: 100vh;
  } */


  /* About-Menu-section */
  
#about-menu div p{
    font-family: nevis;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    margin-top: 0px;
}

/* The Name Page Section Start */

#about-menu #theName h3{
    position: absolute;
    font-family: nevis;
    font-style: normal;
    font-weight: bold;
}

#about-menu #theName .align-ask{
  right: 337px;
  top: 151px;
  display: inline;
 
}

#about-menu #theName .align-imagine{
  right: 158px;
  top: 213px;
  display: inline;
 
}

#about-menu #theName .align-plan{
  right: 275px;
  bottom: 94px;
  display: inline;
  
}

#about-menu #theName .align-create{
  right: 411px;
  bottom: 155px;
  display: inline;
 
}

/* The Name Page Section End */

/* The Partner and Consultant Section Start */

#about-menu #partners .heading{
  text-align: center;
  margin: 45px 0px;
 font-family: 'Muli';
}



#about-menu #partners .ptr{
display: flex;
justify-content: space-around;

}
#about-menu #partners .main-div .container{
  max-width: 1000px;
}
#about-menu #partners .main-div .row{
  display: flex;
}
#about-menu #partners .main-div .col-3{
  width: 333px;
}
#about-menu #partners .bold{
  font-size: larger;
  font-weight: 900;
  color: black;
  margin-bottom: 0px;
}

/* The Partner and Consultant Section End */

/* The Association Section Start */

#association .content h2{
  margin-bottom: 0px;
}
#association .content strong{
  font-size: 23px;
}
#association .content p{
    font-family: nevis;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-top: 23px;
}
#association .content .text-right{
  text-align: end;
}
#association .content h3{
  color: #959595;
}

/* Association Section End */

/* The Incorporation Section Start */
#incorporation .container{
  width: 1000px;
}
#incorporation .row2{
 display: flex;
}
#incorporation .col-3{
  width: 400px;
 }
 #incorporation .col-8{
  width: 600px;
 }
/* The Incorporation Section End */

/* The Subsidiaries Page Section Start */

#subsidiaries .container{
  width: 1200px;
}
#subsidiaries .row{
  display: flex;
}
#subsidiaries  .col-4{
width: 400px;
}
#subsidiaries .col-2{
  width: 166px;
}
/* The Subsidiaries Page Section Start */


/* The Brain page Section Start */

#theBrain .container{
  max-width: 1000px;
}
#theBrain .row{
  display: flex;
  position: relative;
}
#theBrain .col-6{
  width: 500px;
  margin: 0 auto;
}
#theBrain .col-6 h2{
  margin-bottom: 0px;
}
#theBrain .border{
  border-right: 2px solid black;
}
#theBrain .col-6 strong{
  font-size: 23px;
  margin-top: 0px;
}

#theBrain .col-6 p {
  font-family: nevis;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0px;
  text-align: justify;
  margin-top: 20px;
  margin-right: 15px
}




/* section-title */
.section-title {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  text-align: center; }

.section-title h2 {
  display: inline-block;
  background: #fff;
  padding: 3px 15px;
  font-size: 18px;
  font-family: raleway;
  font-weight: normal;
  margin: 0; }

.section-title::after {
  content: "";
  height: 1px;
  display: inline-block;
  background: #eee;
  width: 100%;
  position: relative;
  top: -30px;
  z-index: -1; }

/* member */
.member {
  text-align: center;
  width: 300px;
  margin: 0 auto 30px;
  position: relative; }

.member img, .letter-overlay {
  width: 300px;
  height: 300px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: url(../paths.svg#member);
  margin-bottom: 30px; }

.member img.colored {
  display: none;
  position: absolute;
  top: 0; }

.member:hover img.colored {
  display: block; }

.letter-overlay {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 120px;
  font-family: nevis;
  padding-top: 90px;
  line-height: 120px;
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.letter-overlay:hover {
  opacity: 0;
  cursor: default; }

.member h4 {
  font-family: raleway;
  margin-bottom: 4px; }

.member p.position {
  margin-bottom: 10px;
  letter-spacing: 1px; }

.member ul {
  list-style: none;
  margin: 0; }
  .member ul li {
    display: inline-block;
    padding: 0 5px; }
    .member ul li a {
      color: #999; }
    .member ul li a:hover {
      color: #00E1B6; }

/* testimonials */
.testimonials {
  background: #eee;
  color: #fff;
  height: 400px;
  margin-bottom: 40px; }
  .testimonials .quote, .testimonials .author {
    padding: 80px 80px 20px; }
  .testimonials .quote {
    font-size: 24px;
    background: #00E1B6;
    margin: 0;
    height: 400px; }
  .testimonials .quote::after {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    border: 20px solid #00E1B6;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -40px;
    top: 50%;
    margin-top: -10px; }
  .testimonials .author {
    padding: 80px 60px 20px;
    height: 100%;
    color: #666; }
    .testimonials .author p {
      margin-bottom: 0;
      letter-spacing: 1px;
      font-size: 14px; }
    .testimonials .author p.author-avatar {
      margin-bottom: 25px; }
    .testimonials .author p.author-name {
      color: #333;
      letter-spacing: 2px;
      font-size: 16px;
      text-transform: uppercase; }
  .testimonials i {
    font-size: 48px;
    float: left;
    position: absolute;
    top: 40px;
    left: 40px;
    color: white; }
  .testimonials .slick-dots {
    bottom: -60px; }
    .testimonials .slick-dots .slick-active button:before {
      color: #00E1B6; }
    .testimonials .slick-dots button:before {
      font-size: 10px; }

/* contact */
#contact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 95%;
  overflow: auto;
  padding-top: 40px; }
  #contact .handle {
    width: 110px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    background: #333;
    top: 0;
    left: 50%;
    margin-left: -55px; }
  #contact h2 {
    color: #fff;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    letter-spacing: 4px; }
    #contact h2 a {
      color: #fff; }
    #contact h2 a:hover {
      color: #00E1B6; }
  #contact .contact-info {
    background: #333; }

#contact_form.dark input[type="text"], #contact_form.dark input[type="password"], #contact_form.dark input[type="date"], #contact_form.dark input[type="datetime"], #contact_form.dark input[type="datetime-local"], #contact_form.dark input[type="month"], #contact_form.dark input[type="week"], #contact_form.dark input[type="email"], #contact_form.dark input[type="number"], #contact_form.dark input[type="search"], #contact_form.dark input[type="tel"], #contact_form.dark input[type="time"], #contact_form.dark input[type="url"], #contact_form.dark textarea {
  background: none;
  border: 1px solid #555;
  color: #fff; }

#contact_form.dark textarea {
  height: 11rem; }

.contact-details {
  color: #fff; }

.contact-details h4 {
  font-size: 0.9rem;
  color: #fff;
  letter-spacing: 4px;
  font-weight: normal;
  margin-bottom: 5px; }

.contact-details p {
  margin-bottom: 30px;
  color: #999; }

.contact-details ul {
  list-style: none;
  margin: 0; }
  .contact-details ul li {
    display: inline-block;
    padding: 0 15px 0 0; }
    .contact-details ul li a {
      color: #999; }
    .contact-details ul li a:hover {
      color: #00E1B6; }
    .contact-details ul li i {
      font-size: 20px; }

/* Icon-text and service */
.main-services {
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0; }
  .main-services .columns {
    padding: 0; }

.main-services .icon-text {
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.icon-text {
  padding: 80px 60px;
  color: #999;
  text-align: center;
  background: none; }
  .icon-text i {
    color: #333;
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 30px; }

.main-services .columns:nth-child(1) .icon-text:hover {
  background: url(../images/@stock/service-item-1-bg.jpg) center center no-repeat;
  background-size: cover; }

.main-services .columns:nth-child(2) .icon-text:hover {
  background: url(../images/@stock/service-item-2-bg.jpg) center center no-repeat;
  background-size: cover; }

.main-services .columns:nth-child(3) .icon-text:hover {
  background: url(../images/@stock/service-item-3-bg.jpg) center center no-repeat;
  background-size: cover; }

.main-services .columns:nth-child(4) .icon-text:hover {
  background: url(../images/@stock/service-item-4-bg.jpg) center center no-repeat;
  background-size: cover; }

.main-services .columns:nth-child(5) .icon-text:hover {
  background: url(../images/@stock/service-item-5-bg.jpg) center center no-repeat;
  background-size: cover; }

.main-services .columns:nth-child(6) .icon-text:hover {
  background: url(../images/@stock/service-item-6-bg.jpg) center center no-repeat;
  background-size: cover; }

.icon-text-diamond {
  text-align: center;
  margin-bottom: 40px; }
  .icon-text-diamond .wrapper {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  .icon-text-diamond span {
    color: #999; }

.icon-text-diamond .content {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 40px auto 80px;
  background: #00E1B6;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  .icon-text-diamond .content i {
    margin-bottom: 30px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #333;
    padding-top: 80px;
    position: relative;
    left: -40px;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.icon-text-diamond:hover .wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }
  .icon-text-diamond:hover .wrapper .content {
    background: #333; }
    .icon-text-diamond:hover .wrapper .content i {
      color: #00E1B6; }

/* gallery */
.masonry-gallery .gallery-nav {
  margin: 0 auto 30px;
  text-align: center; }
  .masonry-gallery .gallery-nav li {
    list-style: none;
    float: none;
    display: inline-block;
    border: 1px solid #bbb;
    padding: 5px 10px;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem; }
    .masonry-gallery .gallery-nav li a {
      color: #999; }
  .masonry-gallery .gallery-nav li.current {
    border: 1px solid #00E1B6; }
    .masonry-gallery .gallery-nav li.current a {
      color: #00E1B6; }

.masonry-gallery ul.gallery {
  margin: 0; }
  .masonry-gallery ul.gallery li {
    width: 30%;
    margin: 1.6%;
    display: block; }
    .masonry-gallery ul.gallery li a {
      position: relative;
      display: block;
      overflow: hidden; }
      .masonry-gallery ul.gallery li a p {
        color: #333;
        font-size: 14px; }
    .masonry-gallery ul.gallery li img {
      width: 100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
    .masonry-gallery ul.gallery li .overlay {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      top: 10px;
      left: 10px;
      border: none;
      opacity: 0;
      position: absolute;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .masonry-gallery ul.gallery li .overlay .thumb-info {
        top: 50%;
        margin-top: -43px;
        position: relative;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        transition-property: opacity; }
      .masonry-gallery ul.gallery li .overlay h3::after {
        content: "";
        width: 25px;
        margin: 10px auto 0;
        height: 1px;
        display: block;
        background: #00E1B6; }

.masonry-gallery ul.gallery li a:hover .overlay {
  overflow: hidden;
  opacity: 1; }
.masonry-gallery ul.gallery li a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.masonry-gallery ul.gallery li a:hover .thumb-info {
  opacity: 1; }

.nav-wrapper {
  margin-top: 50px;
  height: 50px;
  border-bottom: 1px solid #eee; }
  .nav-wrapper .nav {
    float: right;
    list-style: none;
    margin: 0; }
    .nav-wrapper .nav li {
      display: inline-block; }
      .nav-wrapper .nav li i {
        font-size: 2.5rem;
        width: 30px;
        text-align: center; }

.nav-wrapper .close {
  float: left;
  font-weight: 100;
  font-size: 3.5rem;
  padding: 0 15px;
  line-height: 2.2rem; }

/* post */
.post {
  background: #f9f9f9;
  overflow: hidden;
  margin-bottom: 30px; }
  .post .image {
    float: left;
    width: 400px;
    height: 100%; }
  .post .content {
    padding: 40px;
    margin-left: 400px; }
  .post h3 {
    margin-bottom: 40px;
    font-family: raleway;
    font-size: 40px;
    line-height: 45px; }
  .post h3 a {
    color: #333; }
  .post h3 a:hover {
    color: #00E1B6; }
  .post p.info {
    color: #999;
    font-size: 14px; }

.post.single {
  background: none; }
  .post.single h3 {
    font-size: 60px;
    line-height: 70px; }
  .post.single h3, .post.single h4, .post.single h5, .post.single h6, .post.single p, .post.single ul, .post.single blackquote {
    margin-bottom: 30px; }
  .post.single ul, .post.single blockquote {
    padding-left: 20px; }
  .post.single blockquote {
    font-style: italic;
    color: #999; }

.pager {
  overflow: auto;
  padding: 0 10px; }
  .pager a {
    color: #333; }
  .pager a:hover {
    color: #00E1B6; }

.pager .older {
  float: left; }

.pager .newer {
  float: right; }

/* post comments */
.comments-wrapper ul.comments li {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 0 0;
  list-style: none; }

.comments-wrapper ul.comments .meta .avatar {
  float: left;
  padding: 5px 10px 0 0; }

.comments-wrapper ul.comments .meta .name {
  display: block; }

.comments-wrapper ul.comments .meta .datetime {
  font-size: 0.875rem;
  color: #999; }

.comments-wrapper ul.comments ul.children li {
  border-bottom: none;
  border-top: 1px solid #e9e9e9; }

/* slide */
.slide img {
  width: 100%; }

/* form */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: 15px;
  height: 3rem;
  margin-bottom: 1.875rem; }

/* studio images */
.studio-images img {
  width: 100%; }
